<!DOCTYPE html>
<html>
<head>
  <title>Your Joke</title>
  <link rel="stylesheet" href="/styles.css" />
</head>
<body>
  <div class="container">
    <h1>Here's Your Joke, <%= userName %> 😂</h1>
    <p class="joke"><%= joke %></p>
    <a href="/"><button>Get Another Joke</button></a>
  </div>
</body>
</html>
